html{
    width: 100%;
    height: 100%;
}

html body{
    width: inherit;
    height: inherit;
    background:url('../imgs/20180308bg.jpg') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
  }

html body #msg{
    margin-top: 20px;
    text-align: center;
    color: hotpink;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#rose{
    margin-top: 500px;
    margin-left: 5px;
    height: 200px;
    width: 200px;
}

#rose #can-rose{
    width: inherit;
    height: inherit;
}